ul.btnTabs {
	
	background-image:		url("img/tabs/background.png");
	background-position:	center bottom;
	background-repeat:		repeat-x;
	list-style-type:		none;
	padding:				0px 0px 27px 7px;
	width: 					90%;
}

ul.btnTabs li {
	
	background-image:		url("img/tabs/tab-brd.png");
	padding:				6px 2px 3px 6px;
	float:					left;
	background-repeat:		no-repeat;
}
	
ul.btnTabs li a {
	
	background-image:		url("img/tabs/tab-background.png");
	padding:				6px 10px 3px 6px;
	background-position:	right top;
	background-repeat:		repeat-x;
	color:					#B3BEEE;
}

ul.btnTabs li.selected {
	
	padding-bottom:			4px;
}

ul.btnTabs li.selected a {
	
	padding-bottom:			4px;
	color:					#2f3b6f;
	font-weight:			bold;
}




/*** subtabs ***/

ul.subTabs {
	
	list-style-type:		none;
	margin-left:			-35px;
	margin-top:				-10px;
}

ul.subTabs li {
	
	margin:					0px;
	padding:				0px 5px 0px 5px;
	float:					left;
	border-right:			1px dotted #2f3b6f;
}
	
ul.subTabs li a {

	color:					black;
}

ul.subTabs li.selected a {

	color:					#2f3b6f;
	font-weight:			bold;
}
