#contenidos ul.list {

	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0 15px 15px;
}

#contenidos ul.list li {

	height: 30px;
}

#contenidos ul.list li a {

	color: #666666;
}

#contenidos ul.list li img {
	
	height: 18px;
	margin-right: 3px;
}

#contenidos ul.list li a:hover {

	color: black;
}

#contenidos div.preview {

	width: 600px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding-left: 10px;
	float: left;
	border-left: 1px solid black;
}