ul.btnTabs {

	border-bottom: 1px solid #aaccdd;
	background-position:	center bottom;
	background-repeat:		repeat-x;
	list-style-type:		none;
	padding:				0px 0px 27px 7px;
	width: 					90%;
	
}

ul.btnTabs li {

	padding:				6px 2px 3px 6px;
	margin: 1px 1px 0 0;
	float:					left;
	background-repeat:		no-repeat;
	border: 1px solid #aaccdd;
	-moz-border-radius-topleft: 5px;-webkit-border-radius-topleft: 5px; border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;-webkit-border-radius-topright: 5px; border-radius-topright: 5px;  
	border-bottom:none;
}
	

ul.btnTabs li.selected {
	
    background-color: white;
    padding-bottom: 4px;
    position: relative;
    top: 1px;
	margin-top:0;
}
	
ul.btnTabs li a {

	padding:				6px 10px 3px 6px;
	background-position:	right top;
	background-repeat:		repeat-x;
	color:					#B3BEEE;
}

ul.btnTabs li.selected a {
	
	padding-bottom:			2px;
	color:					#2f3b6f;
	font-weight:			bold;
}

/*** subtabs ***/

ul.subTabs {
	
	list-style-type:		none;
	margin-left:			-35px;
	margin-top:				-10px;
}

ul.subTabs li {
	
	margin:					0px;
	padding:				0px 5px 0px 5px;
	float:					left;
	border-right:			1px dotted #2f3b6f;
}
	
ul.subTabs li a {

	color:					black;
}

ul.subTabs li.selected a {

	color:					#2f3b6f;
	font-weight:			bold;
}
